
body{
    margin: 0%;
    border: 0%;
    
}
.maindiv{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    
}

 .header{
    background-color: #041E3A;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    box-shadow: 0 0.1px 0 0 rgba(0,0,0,);
    -webkit-box-shadow: 0 3.5px 0 0 rgb(0, 0, 0);
    -moz-box-shadow: 0 0.1px 0 0 rgba(0,0,0,);
 }
   

  
 
 
 .logo{
    height: 12vh;
    margin-left: 40px;
}

.nav{
    list-style: none;
    display: flex;
    
}
.ul{
    display: flex;
}
.optione{
    list-style: none;
    display: inline-flex;
    margin: 10px;
    text-decoration: underline;
    color: white;
    font-family: 'Bebas Neue', cursive;
    color: beige;
    font-size: 1.5em;
    
}

.prc{
    font-family: 'Bebas Neue', cursive;
    color: beige;
    font-size: 33px;
    text-decoration: overline double rgba(248, 33, 33, 0.808);
    
}



.polologo{
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.divsectionone {
    background-color:rgb(139,0,0);
color: beige;
   width: 100%;
    height: 99.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
    
   
    
}
.sectionone{
    display: flex;
    flex-direction: column;
    
}

.sectiondivone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;  
}

.divh{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
.firstinsone{
    font-size: 1.9em;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    width: 100%;
    
}

.secinsone{
        font-size: 1.9em;
        font-weight: 300;
        font-family: 'Oswald', sans-serif;
        margin: 0;
        width: 100%;
}
    .divpslogo{
        
        width: 40%;
    }
    .pinsone{
        font-size: 1.1em;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }
    .buttoninsone{
        width: 60%;
    height: 45px;
    background-color: #041E3A;
    color: white;
    font-size: 1.2em;
    border-radius: 12px;
    border-style: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 0;
    
    }

    .divsectiontwo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
 
    }
 

    .sectwodesc{   
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    .sectwodesc p{
        margin: 0;
        font-size: 1.5em;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        width: 30%;
        
    }
        
    
    .sectiontwo{
        background-color: #041E3A;
        height: 100%;
        width: 100%;
        
    }
    
    .divimgstwo{
        height: 20%;
        width: 100%;
        
    }
    .psrlusflag{
        height: 400px;
        width: 100%;
        margin-top: 5%;
        
     }
    
    
    .nav .optione:hover{
        cursor: help;
        box-shadow: 1.1px 1.1px 1.1px 1.1px;
        border: none;
    }

    

    .divh h2:hover{
        color: #041E3A;
       
     }
    .divh p:hover{
        color: #041E3A;}
        
    .divh button:hover{
            color: red;
            
     }
     
     .sectwodesc p:nth-child(odd){
        color: rgb(255, 247, 235);
        
     }
     .sectwodesc p:nth-child(even){
        color: #D4222B;
     }
     

     .sectwodesc p:hover{
       background-color: rgba(255, 255, 255, 0.521);
       color: #041E3A;
       
     }
     .sectwodesc p:hover:after{
     content: '★';
     color: white;
    }

   .bscard{
    margin: 0%;
    width: 100%;
    height: 90%;
    background-color: #041E3A;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   .divbstitle{
    color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
    animation-name: trasladar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
   }

   @keyframes trasladar{
    0% {
        transform: translateY(0px);
        
    }
    50%{
        
        transform: translateY(9px);
    }
    100%{
        color: white;
    }
   }
.cardd{
    background-color: #041E3A;
    color: beige;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
   .cardd:hover{
background-color: #8B0000;
-webkit-transition: background 0.5s 0s ease;
-moz-transition: background 0.5s 0s ease;
-o-transition: background 0.5s 0s ease;
transition: background 0.5s 0s ease;
   }
 
   .card{
    position: inherit;
   }

   .us{
    background-color: #041e3afa;
    height: 70%;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    
   }                                                                                                     

   
   .lastlogo{
    height: 59%;
   }
   .contact{
    flex-direction: row;
   }
 .us p{
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;

 }
.us i{
    font-size: 1.1em;
}


@media (max-width: 375px) {
    .header{
        width: 375px;
        
    }

    .ul{
        width: 70%;
        margin: 0;
        font-size: 11px;
        flex-direction: column;
        
        
    }
    .nav{
        width: 100%;
        height: 12vh;
    }

    .optione{
        margin: 0;
        justify-content: center;
        text-decoration: none;
        
        
    }
    .prc{
        font-size: 3.4vh;
        text-decoration: none;
        
    }


    .divh{
        width: 100%;
        font-size: 15px;
        gap: 5px;
        height: 80%;
    
    }

    .buttoninsone{
        font-size: 15px;
        width: 32%;
        height: 50px;
    }


    .pslogo{
    width: 60vw;
    margin-left: 80px;

    }

    .sectiondivone{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .psrlusflag{
       
    width: 100%;

        
        
    }
    .sectwodesc{
        width: 100%;
        height: 20%;
    }
.sectwodesc p{
    font-size: 20px;
}
    .card-group{
display: none
    }
    
.divbstitle{
    justify-content: space-between;
    animation-name: asd;
}

.pololp{

    width: 80%;
    
}


.lastlogo{
    height: 46%;
}

.us{
    height: 65%;
}
.bscard{
    display: flex;
    
}
.bscard h2{
    margin-bottom: 0px;
    font-size: 1em;
    padding: 0px 10px;
    text-decoration: line-through rgb(139, 0, 0);
}
}

